*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s;
}

.navbar a {
    transition: all 0.5s;
}

.nav-item .btn {
    background-color: #74351c;
    color: #fff;
    border: 3px solid transparent;
    transition: all .15s ease-in;
}

.nav-item .btn:hover {
    border: 3px solid #74351c;
    color: #74351c;
    background-color: transparent;
}

.navbar-scrolled .nav-item .btn:hover {
    border: 3px solid #74351c;
    color: #fff;
    background-color: transparent;
}

.navbar-scrolled {
    background-color: #000000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transform: translate(0,0);
}

.navbar-scrolled .nav-link.active{
    color: #74351c;
}

.navbar-scrolled a {
    color: #fff;
}


.nav-link{
    border-bottom: 3px solid transparent;
    transition: ease-in-out 0.3s;
    position: relative;
}

.nav-link.active , .nav-link:hover{
    border-bottom: 3px solid #74351c;
    font-weight: 600;
    color: #74351c;
}

.none {
    transform: translate(0,-50px);
    opacity: 0;
}


.carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 5px 5px 10px #000000;
}


.bg-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.text-brown {
    color:#74351c;
}

.border-brown {
    border-top: 5px solid #74351c;
}

.menu-image{
    aspect-ratio: 1;
    object-fit: cover;    
}

footer ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.card_title , .card_list, .button_menu ,
.header_title , .header_caption , .image_content_1 , .title_content_1 , .article_content_1,
.image_content_2 , .title_content_2 , .article_content_2,
.image_content_3 , .title_content_3 , .article_content_3,
.info_list , 
.image_header_1 , .title_header_1 , .caption_header_1 ,
.menu_title_1 , .menu_title_2 , .menu_title_3,
.menu_item_1, .menu_item_2, .menu_item_3 {
    opacity: 0;
}

.card_title.animate__animated,
.card_list.animate__animated,
.button_menu.animate__animated,
.header_title.animate__animated,
.header_caption.animate__animated,
.image_content_1.animate__animated,
.title_content_1.animate__animated,
.article_content_1.animate__animated,
.image_content_2.animate__animated,
.title_content_2.animate__animated,
.image_content_3.animate__animated,
.title_content_3.animate__animated,
.article_content_3.animate__animated,
.article_content_2.animate__animated,
.info_list.animate__animated,
.image_header_1.animate__animated,
.title_header_1.animate__animated,
.caption_header_1.animate__animated,
.menu_title_1.animate__animated,
.menu_title_2.animate__animated,
.menu_title_3.animate__animated,
.menu_item_1.animate__animated,
.menu_item_2.animate__animated,
.menu_item_3.animate__animated {
    opacity: 1;
}

.header_title ,
.title_header_1 {
    animation-delay: 0.35s;
}

.caption_header_1 {
    animation-delay: 0.5s;
}
 .header_caption {
    animation-delay: 0.75s;
}


@media only screen and (max-width: 700px) {
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 988px ){
    .navbar {
        background-color: #000000;
    }
    .navbar .nav-link.active,
    .navbar a {
        color: #fff;
    }

    .nav-item .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
