@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;}
.navbar {
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s;
}

.navbar a {
  transition: all 0.5s;
}

.nav-item .btn {
  background-color: #74351c;
  color: #fff;
  border: 3px solid transparent;
  transition: all .15s ease-in;
}

.nav-item .btn:hover {
  border: 3px solid #74351c;
  color: #74351c;
  background-color: transparent;
}

.navbar-scrolled .nav-item .btn:hover {
  border: 3px solid #74351c;
  color: #fff;
  background-color: transparent;
}

.navbar-scrolled {
  background-color: #000000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transform: translate(0,0);
}


.navbar-scrolled .nav-link.on{
  color: #74351c;
}

.navbar-scrolled a {
  color: #fff;
}


.nav-link{
  border-bottom: 3px solid transparent;
  transition: ease-in-out 0.3s;
  position: relative;
}

.header-container {
  padding-top: 50px;
}

.card_list {
  max-width: 300px;
}

.nav-link.on , .nav-link:hover{
  border-bottom: 3px solid #74351c;
   color: #74351c !important;
  font-weight: 600;
}

.none {
  transform: translate(0,-50px);
  opacity: 0;
}


.carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption{
  text-shadow: 5px 5px 10px #000000;
}

.content-left { 
  display: flex;
  flex-direction: row-reverse;
}

.checkbox-container {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  color: #74351c;
}

.checkbox-switch {
  appearance: none;
  cursor: pointer;
  border: 2px solid #74351c;
  background-color: #fff;

  &:checked {
    background-color: #74351c; /* Change background color when checked */
    border: 2px solid #000000; /* Change border color when checked */
  }
  &:focus {
    outline: none;
    border: 2px solid #74351c;
    box-shadow: 0 0 5px #74351c;
  }
}

.bg-image {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.text-brown {
  color:#74351c;
}

.border-brown {
  border-top: 5px solid #74351c;
}

.menu-image{
  aspect-ratio: 1;
  object-fit: cover;    
}

footer ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}


.header_title ,
.title_header {
  animation-delay: 0.35s;
}

.caption_header {
  animation-delay: 0.5s;
}
.header_caption {
  animation-delay: 0.75s;
}


@media only screen and (max-width: 700px) {
  .carousel-item img {
      height: 300px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 988px ){
  .navbar {
      background-color: #000000;
  }
  .navbar .nav-link.on,
  .navbar a {
      color: #fff;
  }

  .nav-item .btn {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
    color: #74351c;
  }

}
